<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Curve Point</h2>
    </div>

    <div class="row">
        <form th:action="@{/CurvePoint/add}" th:object="${curvePointDto}"
              method="post" class="form-horizontal" style="width: 100%">

            <div class="form-group">
                <label class="col-form-label"> Term </label>
                <div class="col-md-8">
                    <input type="number" min="5" max="100" required step="0.01"  th:field="*{term}"><br>
                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label"> Value </label>
                <div class="col-md-8">
                    <input type="number" min="5" max="100" required step="0.01"  th:field="*{value}"><br>
                </div>
            </div>

            <div class="form-group" style="margin-top: 20px">
                <div class="col-md-8">
                    <button type="submit">Add BidList !</button>
                </div>
            </div>
        </form>

        <div class="form-group" style="margin-top: 20px">
            <div class="col-md-8">
                <button onclick="window.location.href = '/CurvePoint';">Annuler</button>
            </div>
        </div>

    </div>

</div>
</body>
</html>