<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Rule</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/RuleName/add}" th:object="${ruleNameDto}" method="post" class="form-horizontal"
              style="width: 100%">

            <div class="form-group">
                <label for="name" class="col-form-label"> Name </label>
                <div class="col-md-8">
                    <input type="text" id="name" th:field="*{name}"><br>
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-form-label"> Description </label>
                <div class="col-md-8">
                    <input type="text" id="description" th:field="*{description}"><br>
                    <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="json" class="col-form-label"> Json </label>
                <div class="col-md-8">
                    <input type="text" id="json" th:field="*{json}"><br>
                    <p class="text-danger" th:if="${#fields.hasErrors('json')}" th:errors="*{json}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="template" class="col-form-label"> Template </label>
                <div class="col-md-8">
                    <input type="text" id="template" th:field="*{template}"><br>
                    <p class="text-danger" th:if="${#fields.hasErrors('template')}" th:errors="*{template}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="sqlStr" class="col-form-label"> sql </label>
                <div class="col-md-8">
                    <input type="text" id="sqlStr" th:field="*{sqlStr}"><br>
                    <p class="text-danger" th:if="${#fields.hasErrors('sqlStr')}" th:errors="*{sqlStr}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="sqlPart" class="col-form-label"> sqlPart </label>
                <div class="col-md-8">
                    <input type="text" id="sqlPart" th:field="*{sqlPart}"><br>
                    <p class="text-danger" th:if="${#fields.hasErrors('sqlPart')}" th:errors="*{sqlPart}"></p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" href="/RuleName">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Add Rule Name">
                </div>
            </div>


        </form>

    </div>

</div>
</body>
</html>