<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Trade</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/Trade/add}" th:object="${tradeDto}" method="post" class="form-horizontal"
              style="width: 100%">


            <div class="form-group">
                <label for="account" class="col-form-label"> Account </label>
                <div class="col-md-8">
                    <input type="text" id="account" minlength="5" maxlength="30" required th:field="*{account}"><br>
                </div>
            </div>


            <div class="form-group">
                <label for="type" class="col-form-label"> Type </label>
                <div class="col-md-8">
                    <input type="text" id="type" minlength="5" maxlength="30" required th:field="*{type}"><br>
                </div>
            </div>

            <div class="form-group">
                <label for="buyQuantity" class="col-form-label"> Buy Quantity </label>
                <div class="col-md-8">
                    <input type="number" id="buyQuantity" min="5" max="100" required step="0.01"
                           th:field="*{buyQuantity}"><br>
                </div>
            </div>

            <div class="form-group" style="margin-top: 20px">
                <div class="col-md-8">
                    <button type="submit">Add Trade !</button>
                </div>
            </div>

        </form>

        <div class="form-group" style="margin-top: 20px">
            <div class="col-md-8">
                <button onclick="window.location.href = '/Trade';">Annuler</button>
            </div>
        </div>

    </div>

</div>
</body>
</html>