<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>BidListAdd</title>
    <link rel="stylesheet" href="../../bootstrap.min.css">

</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Bid</h2>
    </div>

    <div class="row">
        <form th:action="@{/BidList/add}" th:object="${bidListDto}"
              method="post" class="form-horizontal" style="width: 100%">

            <div class="form-group">
                <label for="account" class="col-form-label"> Account </label>
                <div class="col-md-8">
                    <input type="text" id="account" th:field="*{account}"><br>
                    <p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="type" class="col-form-label"> type </label>
                <div class="col-md-8">
                    <input type="text" id="type" th:field="*{type}"><br>
                    <p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="bidQuantity" class="col-form-label"> bidQuantity </label>
                <div class="col-md-8">
                    <input type="number" id="bidQuantity" step="0.01" th:field="*{bidQuantity}"><br>
                    <p class="text-danger" th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" href="/BidList">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Add BidList !!">
                </div>
            </div>
        </form>



    </div>

</div>
</body>
</html>